*{
    margin-top:0;
    font-family: 'Work Sans', sans-serif;

}










.main-section{
   
    background-image: url('../images/banner/banner2.png');
    display:flex;
    background-repeat: no-repeat;
    width:1600px;
    height:808px;
    padding-bottom:30px;


    
}

.banner-section{
    display: block;
    text-align: right;
    position: absolute;
}

.banner-section img{
    position: absolute;
    margin-left: -100%;
    height: 150px;
    width: 200px;
}

.main-section h1{
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    height: 300px;
    width: 500px;
    margin-top: 220px;
    margin-left: 700px;
    font-weight: 700;
    font-size: 65px;
    
}

.main-section p{
    
    color: #151414;
    height: 78px;
    width: 490px;
    margin-top:-130px;
    font-size: 16px;
    padding-left: 60%;
 
}

.btn{
    
    width: 160px;
    height: 65px;
    background-color: #F15B22;
    color: white;
    text-align: center;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    font-size: large;
    margin-top: 35%;
    margin-left:66%;
}

 /* 2nd banner section */

.person{
    display: flex;

}

.person-image{
    display: flex;
    margin-left: 150px;
}

.person-image h1{

    font-weight: 700;
    font-size: 40px;
    margin-top: 300px;
    margin-left: 50px;

}

.mor-title{
    
    position: absolute;
    text-align: left;
    margin-top: 420px;
    margin-left: 770px;
    color: #444343;

}
/* ------------------ */
.my-plans{

    font-weight: 700;
    font: 40px;
    text-align: center;
    margin-left: 100px;
    margin-top: 130px;
}

/* ------exp------------- */


.exp{
    display: flex;
    gap: 120px;
    position: absolute;
    margin-left: 12%;
    align-items: center;
    text-align: center;
    
  
}



.plans-title{
    display: flex;
    gap: 100px;
    margin-left: 12%;
    margin-top: 10%;
    text-align: center;
}

.plans-title h3{
    color:#151414 ;
    font-weight: 700;
    font-size: 30px;
}



/* image- filter */

.filter-section{
    margin-top: 250px;
    background-image: url('../images/watch.png');
    display: flex;
    background-repeat: no-repeat;
    margin-left: 7%;
    margin-bottom: 150px;
}


.image-title{

    position: absolute;
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    margin-left: 40px;
}

.image-title button{
    width: 160px;
    height: 65px;
    padding:20px 35px;
    background-color: white;
    border-radius: 5px;
    border-style: none;

}

/* footer section */

footer{
    background-color: #151414;
    width: 100%;
    height: auto;
    display: flex;
    gap:300px;
    color: white;
    padding: 100px 100px;
   
}

footer h4{

    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 10px;

}

footer p{
   

    color: #FFFFFF;
    font-size: 16px;
}

.Subscribe h5{

    font-size: 20px;
    margin-top: 20px;
}

.Subscribe input{
    width: 200px;
    height: 35px;
    color: white;
    border-radius: 10px;
    font-size: large;

}

.Subscribe button{
    width: 170px;
    height: 64px;
    background-color: white;
    border-radius: 8px;
    color: #F15B22;
    font-size: large;
}




/* Media icons */
.icone{
    position: absolute;
    margin-top:17%;
   
    display: flex;
    height:30px;
    gap: 10px;

}

/* li style */

.person li{
    list-style: none;
    margin-left: -45px;

}
.person li:before{
    content: "\221A";

}